.ts {
  position: fixed;
  bottom: 16px;
  display: flex;
  flex-direction: column;
  transform: translateX(calc(-100% - 7px));
  gap: 7px;
}

.ts {
  & button {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    color: transparent;
  }
}

.l {
  background-color: #e3e4e6;
  border: none;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.1), inset -1px -1px 1px #EF629F, inset 1px 1px 1px #EECDA3;
}

.d {
  background-image: linear-gradient(90deg, #696969, #000000);
  border: none;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
}

@media (max-width: 520px) {
  .ts {
    flex-direction: row;
    transform: none;
    bottom: 36px;
  }
}