.bkWrapper {
  padding: 18px;
}
.wrapper {
  position: relative;
  padding: 18px;
  box-sizing: border-box;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.wrapper a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 13px;
  box-sizing: border-box;
  border-radius: 7px;
}

.wrapper a:hover {
  background-color: rgb(47, 47, 47);
}

:global(.light) .wrapper a:hover {
  background-color: #efefef;
}

.title {
  color: #c5c5c5;
}

:global(.light) .title {
  color: #565567;
}

.desc {
  color: rgb(129, 129, 129);
  font-weight: lighter;
  font-size: 15px;
  margin-top: 3px;
}

:global(.light) .title {
  color: #0d0c22;
}

.arrows {
  position: absolute;
  bottom: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  pointer-events: none;
}

.spatialTip {
  position: absolute;
  right: 69px;
  bottom: 0;
  width: 196px;
  font-size: 13px;
  color: rgb(179, 179, 179);
}